<h2> Hóspedes Ativos</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Nome</th>
            <th> Email </th>
            <th> Telefone</th>
            <th> Quarto </th>
            <th> Valor última hospedagem</th>
            <th> Valor total </th>
            <th> </th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let hospede of hospedesAtivos" >

            <td> {{ hospede.nome }} </td>
            <td> {{ hospede.email }} </td>
            <td> {{ hospede.telefone }} </td>
            <td> {{ hospede.hospedagemAtual.numeroQuarto}} </td>
            <td> R$ {{hospede.hospedagens[hospede.hospedagens.length - 1].valor}}</td>
            <td> R$ {{ calcValorTotal(hospede) }} </td>
            <td>
              <button (click) = "checkOut(hospede.id)" class = "btn btn-danger">CheckOut</button>
            </td>

        </tr>
    </tbody>
</table>
