/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";



body{
  background-image: url(../src/assets/photo-1519143468229-4cde34927323.jfif);
  color: aliceblue;
}

th{
  color:aliceblue;
  font-size: 20px;
}

td{
  color: aliceblue;
  font-size: 17px;
}

